<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}
        {{ partial "title.html" . }}
        <section class="page">
            <article id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-sm-push-9">
                            <p>
                            <img width="100%" src="{{ .Params.logo | absURL}}"/>
                            </p>
                            <p>
                            <a href="{{ .Params.website }}">{{ .Params.website }}</a>
                            </p>
                            <ul class="list-unstyled text-muted">
                                {{ range .Params.personnel }}
                                <li>
                                    {{ with .gender}} <i class="fa fa-{{.}}"></i> {{end}} {{ .name }}
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                        <div class="col-sm-9 col-sm-pull-3">

                            <h2>About</h2>
                            <p>{{ .Description | markdownify }}</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Role in the project and previous relevant experience</h2>
                                <p>{{ .Params.role | markdownify }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                            {{with .Params.contributions}}
                            <h2>Significant infrastructure and/or any major items of technical equipment used in the project</h2>
                            <p>{{ . | markdownify }}</p>
                            {{ end }}

                            {{with .Params.projects}}
                            <h2>Relevant previous projects</h2>
                            {{end}}
                            {{range .Params.projects}}
                            <p><b>{{ .name | markdownify }}</b>
                            {{ .description | markdownify }}</p>
                            {{ end }}

                            <h2>Key personnel and relevant experience</h2>
                            {{range $i, $e := .Params.personnel}}
                            <div class="col-md-6" {{ if eq (mod $i 2) 0 }}style="clear:both"{{end}}>
                                <p><b>{{ $e.name | markdownify }}</b>
                                {{ $e.description | markdownify }}</p>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </article>
            </div>
        </section>
        {{ partial "contact.html" . }}
        {{ partial "eu.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
