<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}
        {{ partial "title.html" . }}
        {{ "<!-- LIST -->" | safeHTML }}
        <section class="page">
            <div class="container">
                <div id="list">
                    {{ range .Data.Pages }}
                    {{ .Render "summary"}}
                    {{ end }}
                </div>
            </div>
        </section>
        {{ partial "contact.html" . }}
        {{ partial "eu.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
