<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}
        {{ partial "title.html" . }}
        <section class="page">
            <div class="container">
                <article id="content">
                    {{ .Content }}
                </article>
            </div>
        </section>
        {{ partial "contact.html" . }}
        {{ partial "eu.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
