<article class="post">
    <div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
    <h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>

    <div class="summary">
        {{ .Summary }}
    </div>
    <br/><a href='{{ .Permalink }}'>Read more →</a>
</article>
