{{ "<!-- CONTACT -->" | safeHTML }}
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            {{ with .Site.Params.action.headline }}<h2>{{ . }}</h2>{{ end }}
            <form method="POST" action="http://formspree.io/{{ .Site.Params.action.form.mail}}">
                <div class="form-group row">
                    <input type="hidden" name="_subject" value="Someone is interested in CloudPerfect" />
                    <input type="hidden" name="_cc" value="simon.volpert@uni-ulm.de" />
                    <input type="hidden" name="_next" value="{{ "page/thanks" | absURL}}" />
                    <div class="col-md-offset-2 col-md-6">
                        <input  class="col-md-8 form-control" type="email" name="email" placeholder="Your email">
                    </div>
                    <div class="col-md-3">
                        <button  class="btn btn-default wow tada" type="submit"> {{ .Site.Params.action.form.text }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</aside>
