
<div class="artifact row">
    <div class="col-sm-9">
        <b>{{ .Params.id }}</b>
        <span>{{ .Params.name }}</span>
        {{ with .Params.release }}<span style="float:right" class="badge badge-pill"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ dateFormat "Jan 2006" . }}</span>{{end}}
        <p class="text-muted">{{ .Params.description }}</p>
        {{ range .Params.tags }}
        <a class="label label-default" href="{{"/tags/" | relLangURL}}{{.|urlize}}">{{.}}</a>
        {{end}}
    </div>
    <div class="col-sm-3">
        <a {{ with .Params.file }}href="{{ "static/artifacts/" | absURL}}{{ . }}"{{ end }} class="artifact-download btn btn-primary {{ if not .Params.file }}disabled{{ end }}"><i class="fa fa-download"></i> Download</a>
    </div>
</div>
