{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="section-heading">Contact</h2>
                <address>
                    <strong>Project coordinator</strong><br>
                    Engineering Ingegneria Informatica S.p.A.<br>
                    <i class="fa fa-user" aria-hidden="true"></i>Matranga Isabel<br>
                    <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:isabel.matranga@eng.it">isabel.matranga@eng.it</a><br>
                </address>
                <h2 class="section-heading"><a href="{{"page/impressum"|absURL}}">Impressum</a></h2>
				(c) 2017-2020 University of Ulm 
            </div>
            <div class="col-md-4">
                <h2 class="section-heading">Partners</h2>
                <object  width="100%" data="{{"img/cp_map.svg"|absURL}}" type="image/svg+xml"/></object>
            </div>
            <div class="col-md-4">
                <h2 class="section-heading">Social media</h2>
                <a href="https://twitter.com/cloud_perfect"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
