{{ "<!-- CONTACT -->" | safeHTML }}
<section id="eu" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1 text-center">
                <p>This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 732258 (CloudPerfect)</p>
            </div>
            <div class="col-sm-2 text-center">
                <img width="100%" src="{{ "img/eu.jpg" | absURL}}"/>
            </div>
        </div>
    </div>
</section>
