<meta charset="utf-8">
<meta name="referrer" content="origin">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ .Hugo.Generator }}
<title>{{ .Site.Title }}</title>

{{ "<!-- Favicon -->" | safeHTML }}
<link rel="apple-touch-icon" sizes="57x57" href="{{"apple-icon-57x57.png"|absURL}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{"apple-ico/apple-icon-60x60.png"|absURL}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{"apple-ico/apple-icon-72x72.png"|absURL}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{"apple-ico/apple-icon-76x76.png"|absURL}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{"apple-icon-114x114.png"|absURL}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{"apple-icon-120x120.png"|absURL}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{"apple-icon-144x144.png"|absURL}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{"apple-icon-152x152.png"|absURL}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{"apple-icon-180x180.png"|absURL}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{"android-icon-192x192.png"|absURL}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{"favicon-32x32.png"|absURL}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{"favicon-96x96.png"|absURL}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{"favicon-16x16.png"|absURL}}">
<link rel="manifest" href="{{"manifest.json"|absURL}}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{"ms-icon-144x144.png"|absURL}}">
<meta name="theme-color" content="#ffffff">
{{ "<!-- Bootstrap Core CSS -->" | safeHTML }}
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}" type="text/css">
{{ "<!-- Custom Fonts -->" | safeHTML }}
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ "font-awesome/css/font-awesome.min.css" | absURL }}" type="text/css">
{{ "<!-- Plugin CSS -->" | safeHTML }}
<link rel="stylesheet" href="{{ "css/animate.min.css" | absURL }}" type="text/css">
{{ "<!-- Custom CSS -->" | safeHTML }}
<link rel="stylesheet" href="{{ "css/creative.css" | absURL }}" type="text/css">
<link rel="stylesheet" href="{{ "css/modals.css" | absURL }}" type="text/css">

{{ "<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->" | safeHTML }}
{{ "<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->" | safeHTML }}
{{ "<!--[if lt IE 9]>" | safeHTML }}
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{{ "<![endif]-->" | safeHTML }}
<!-- Piwik -->
<script type="text/javascript">
var _paq = _paq || [];
// tracker methods like "setCustomDimension" should be called before "trackPageView"
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var u="//omi-track.e-technik.uni-ulm.de/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();
</script>
<!-- End Piwik Code -->
<script type="text/javascript" id="cookieinfo" src="//cookieinfoscript.com/js/cookieinfo.min.js"></script>
