{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{ with .Site.Params.hero.slogan }}
            <img src="{{"img/logo.svg" | absURL }}"/>
            {{ end }}
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
            <hr>
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
            <p>{{ . | markdownify }}</p>
			<!--a href="https://twitter.com"><i class="fa-twitter fa"></i> Latest Tweet</a>
            <div class="" id="latesttweet"></div-->
            {{ end }}
            {{ with .Site.Params.hero.buttonText }}
            <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ . }}</a>
            {{ end }}

        </div>
    </div>
</header>
