{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top {{if not .IsHome}} page {{end}}">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ with .Site.Params.navigation.brand }}
            <a class="navbar-brand page-scroll" href="/"><img width="25px" style="display:inline-block; margin-right:10px" src="{{"img/logo_no_text.svg" | absURL}}"/>{{ . | markdownify }}</a>
            {{ end }}
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ if and .Site.Params.about .Site.Params.navigation.links.about }}
                    <li>
                        <a class="page-scroll" href="{{if not .IsHome}}{{.Site.BaseURL}}{{end}}#about">{{ .Site.Params.navigation.links.about }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Data.projects .Site.Params.navigation.links.portfolio }}
                    <li>
                        <a class="page-scroll" href="{{if not .IsHome}}{{.Site.BaseURL}}{{end}}#portfolio">{{ .Site.Params.navigation.links.portfolio }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.services.list .Site.Params.navigation.links.services }}
                    <li>
                        <a class="page-scroll" href="{{if not .IsHome}}{{.Site.BaseURL}}{{end}}#targetgroups">{{ .Site.Params.navigation.links.services }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.location .Site.Params.navigation.links.location }}
                <li>
                    <a class="page-scroll" href="{{if not .IsHome}}{{.Site.BaseURL}}{{end}}#location">{{ .Site.Params.navigation.links.location }}</a>
                </li>
                {{ end }}
                {{ if and .Site.Params.contact .Site.Params.navigation.links.contact }}
                    <li>
                        <a class="page-scroll" href="{{if not .IsHome}}{{.Site.BaseURL}}{{end}}#contact">{{ .Site.Params.navigation.links.contact }}</a>
                    </li>
                {{ end }}
                {{ range .Site.Menus.main }}
                    <li>
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
                    <!--<li>-->
                        <!--<a class="page-scroll" href="/pages_test/page/docs">Docs</a>-->
                    <!--</li>-->
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}


</nav>
