<article id="{{ .Params.abbr }}" class="post">
    <h2><a href='{{ .Permalink }}'> {{ .Params.name }}</a> </h2>
    <div class="row">
        <div class="col-sm-4">
            <p>
            <img width="100%" src="{{ .Params.logo | absURL}}"/>
            </p>
            <p>
            <a href="{{ .Params.website }}">{{ .Params.website }}</a>
            </p>
            <ul class="list-unstyled text-muted">
                {{ range .Params.personnel }}
                <li>
                    {{ with .gender}} <i class="fa fa-{{.}}"></i> {{end}} {{ .name }}
                </li>
                {{ end }}
            </ul>
        </div>

        <div class="col-sm-8">
            <p>{{ .Params.summary | markdownify }}</p>
        </div>
    </div>
</article>
