{{ "<!-- TARGETGROUPS -->" | safeHTML }}
<section id="targetgroups">
    {{ with .Site.Params.services.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    {{ end }}
    <div class="container">
        <div class="row">
            {{ range .Site.Params.services.list }}
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x {{ .icon }} wow bounceIn text-primary"></i>
                    <h3>{{ .title }}</h3>
                    {{ with .description }}
                        <p class="text-muted">{{ . }}</p>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
