{{ "<!-- TITLE -->" | safeHTML }}
<section class="bg-light" id="title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h1 class="pagetitle">{{if isset .Params "name"}}{{.Params.name}}{{else}}{{ .Title }}{{end}}</h1>
                <h4>{{if not .Params.name}}{{ .Description }}{{end}}</h4>
            </div>
        </div>
    </div>
</section>
