<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}
        {{ partial "title.html" . }}
        {{ "<!-- LIST -->" | safeHTML }}
        <section class="page">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-12">
                        {{ range .Data.Pages }}
                        {{ partial "artifact_single.html" .}}
                        {{ end }}
                    </div>
                    <div class="hidden-sm hidden-xs col-md-3">
                        <a href="{{ "/artifact/" | relLangURL }}"><i class="fa fa-angle-double-left"></i> back</a>
                        <h2>Filter</h2>
                        <ul>
                            {{ range $taxonomy,$post := .Site.Taxonomies.tags }}
                            <li><a href="{{ "/tags/" | relLangURL }}{{ $taxonomy | urlize }}"> {{ $taxonomy }} ({{ $post.Count}})</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {{ partial "contact.html" . }}
        {{ partial "eu.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
