
<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}
        {{ partial "title.html" .  }}
        {{ "<!-- BLOG LIST -->" | safeHTML }}
        <section class="page">
            <div class="container">
                <div class="row">
                    <div class="col-md-8" id="list">
                        {{ range .Data.Pages }}
                        {{ .Render "summary"}}
                        {{ end }}
                    </div>
                    <div class="col-md-4" id="list">
                        <h3>Categories</h3>
                        <ul>
                            {{ range $taxonomy,$post := .Site.Taxonomies.categories }}
                            <li><a href="{{ "/categories/" | relLangURL }}{{ $taxonomy | urlize }}"> {{ $taxonomy }} ({{ $post.Count}})</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {{ partial "contact.html" . }}
        {{ partial "eu.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
