
<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}
        {{ partial "title.html" .  }}
        {{ "<!-- CONSORTIUM LIST -->" | safeHTML }}
        <section class="page">
            <div class="container">
                <div class="row">
                    <div class="col-md-9" id="list">
                            {{ range .Data.Pages }}
                            {{ partial "partner_summary.html" .}}
                            {{ end }}
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs" id="list">
                        <div id="toc" class="col-md-2 list-group">
                            {{ range .Data.Pages }}
                            <a class="page-scroll list-group-item" href="#{{.Params.abbr}}">[{{ .Params.abbr }}]</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ partial "contact.html" . }}
        {{ partial "eu.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
